<section>
  <div>
    <mat-toolbar>
      <button mat-raised-button color="primary" [routerLink]="['/recievings/add']">
        <mat-icon>add</mat-icon>
        <span>New Recieving</span>
      </button>
      <div>
        <mat-form-field appearance="standard">
          <mat-label>Search</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Capsule" #input>
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
    </mat-toolbar>
    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="supplier">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Supplier </th>
        <td mat-cell *matCellDef="let row">
          <b>{{row.supplier?.name}}</b>
          <div>{{row.supplier?.address}}</div>
        </td>
      </ng-container>

      <ng-container matColumnDef="items">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Items </th>
        <td mat-cell *matCellDef="let row">{{row.items?.length}} {{row.items?.length > 1 ?'Items':'Item'}} </td>
      </ng-container>

      <ng-container matColumnDef="recievedDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Recieved Date </th>
        <td mat-cell *matCellDef="let row"> {{(row.recievedDate | stringToDate) | date}} </td>
      </ng-container>

      <ng-container matColumnDef="recievedBy">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Recieved By </th>
        <td mat-cell *matCellDef="let row"> {{row.recievedBy}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button (click)="removeItem(row)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data available</td>
      </tr>
    </table>
    <mat-paginator [pageSizeOptions]="[6, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>
</section>
