section {
    display: flex;
    justify-content: center;
    > div {
        width: 75%;
    }
    .mat-toolbar {
        display: flex;
        justify-content: space-between;
    }
    .form-content {
        padding: 0 30px;
        .pad-right{
            padding-right: 40px;
        }
        .item-form {
            padding-top: 15px;
        }
        table{
            width: 100%;
        }
        .items{
            button{
                height: fit-content;
            }
        }
        .save{
            margin-top: 50px;
            width: 100%;
        }
    }
}
