<section>
  <div class="heading">
    <h3>Add Medicine</h3>
  </div>
  <br>
  <div class="container">
    <div>
      <mat-form-field appearance="standard" class="w-100">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Ex. Vitamin" #input [formControl]="name">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="standard" class="w-100">
        <mat-label>Description</mat-label>
        <input matInput placeholder="Ex. Vitamin" #input [formControl]="description">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="standard" class="w-100">
        <mat-label>Category</mat-label>
        <mat-select [formControl]="category">
          <mat-option *ngFor="let category of categories" [value]="category.name">
            {{category.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="standard" class="w-100">
        <mat-label>Type</mat-label>
        <mat-select [formControl]="type">
          <mat-option *ngFor="let type of types" [value]="type.name">
            {{type.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <button mat-raised-button color="primary" (click)="addEdit()" [disabled]="!fg.valid || inProgress">Add Medicine</button>
    </div>
  </div>
</section>
