/* You can add global styles to this file, and also import other style files */


body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

header,
section,
div,
a,
strong,
u,
i,
b,
span,
.mat-button,
.mat-icon-button,
.mat-stroked-button,
.mat-flat-button {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}
.w-100 {
  width: 100%;
}
.w-90 {
  width: 90%;
}
.w-80 {
  width: 80%;
}
.w-70 {
  width: 70%;
}
.w-60 {
  width: 60%;
}
.w-50 {
  width: 50%;
}
.w-40 {
  width: 40%;
}
.w-30 {
  width: 30%;
}
.w-20 {
  width: 20%;
}
.w-10 {
  width: 10%;
}
.flex {
  display: flex;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.jc-end {
  justify-content: flex-end;
}
.jc-between {
  justify-content: space-between;
}
.jc-around {
  justify-content: space-around;
}
.jc-center {
  justify-content: center;
}
//
.ai-end {
  align-items: flex-end;
}
.ai-center {
  align-items: center;
}
.ai-start {
  align-items: flex-start;
}

.d-none{
  display: none;
}
