.container{
    padding: 0 40px;
    .customer-info{
        width: 20%;
        .title{
            margin-top: 2rem;
        }
    }
    .item-list{
        padding: 0 40px;
        width: 80%;
        .title{
            margin-top: 2rem;
        }
        button{
            height: fit-content;
        }
        .mat-form-field{
            margin: 0 20px;
        }
    }
    .save-btn{
        margin-top: 4rem;
    }
}