section{
  margin: 1rem 5rem;
  .heading{
    button{
      height: 20%;
    }
  }
  .mat-column-sl {
    width: 32px;
    border-right: 1px solid #00000069;
    padding-right: 24px;
  }
  .mat-column-suid {
    padding-left: 16px;
  }
}
