<section>
  <div class="heading">
    <h3>{{ data ? "Update Supplier" : "Add Supplier" }}</h3>
  </div>
  <br />
  <div class="container">
    <div>
      <mat-form-field appearance="standard" class="w-100">
        <mat-label>Name</mat-label>
        <input
          type="text"
          matInput
          placeholder="Ex. Example stockist"
          #input
          [formControl]="name"
        />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="standard" class="w-100">
        <mat-label>Contact Person</mat-label>
        <input
          type="text"
          matInput
          placeholder="Ex. John"
          #input
          [formControl]="contactPerson"
        />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="standard" class="w-100">
        <mat-label>Contact Number</mat-label>
        <input
          type="number"
          matInput
          placeholder="Ex. 9899826649"
          #input
          [formControl]="contactNo"
        />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="standard" class="w-100">
        <mat-label>Address</mat-label>
        <textarea matInput [formControl]="address"></textarea>
      </mat-form-field>
    </div>
    <div>
      <div class="radio-label">Active?</div>
      <mat-radio-group aria-label="Select an option" [formControl]="active">
        <mat-radio-button [value]="true">Yes</mat-radio-button>&nbsp;&nbsp;
        <mat-radio-button [value]="false">No</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="footer">
      <button
        mat-raised-button
        color="accent"
        (click)="dialogRef.close()"
        [disabled]="inProgress"
      >
        cancel
      </button>
      <button
        mat-raised-button
        color="primary"
        (click)="addEdit()"
        [disabled]="!fg.valid || inProgress"
      >
        {{ data ? "Update Supplier" : "Add Supplier" }}
      </button>
    </div>
  </div>
</section>
