section {
    
    .footer{
        margin-top: 35px;
        display: flex;
        justify-content: space-between;
        button {
            width: 49%;
        }
    }
    .radio-label{
        margin-bottom: 10px;
    }
}
